@{
    ViewBag.Title = "HomePage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 class="text-center mt-5">Giới thiệu về chúng tôi</h3>
<div class="choose">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="choose_box">
                    <div class="titlepage">
                        <h2><span class="text_norlam">Hãy chọn nơi ở</span> <br>Phù hợp nhất cho bạn</h2>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit </p>
                    <a class="read_more" href="#">Xem Thêm</a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="col-md-12">
                    <div class="img_box">
                        <figure><img src="~/images/img1.jpg" alt="#" /></figure>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="img_box">
                        <figure><img src="~/images/img2.jpg" alt="#" /></figure>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="img_box">
                        <figure><img src="~/images/img3.jpg" alt="#" /></figure>
                    </div>
                </div>
            </div>
        </div>
        <div class="our">
            
            <div class="row d_flex">
                <div class="col-md-6">
                    <div class="img_box">
                        <figure><img src="~/images/img4.jpg" alt="#" class="img-fluid" /></figure>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="our_box">
                        <div class="titlepage">
                            <h2><span class="text_norlam">Bữa sáng </span> <br>Tuyệt nhất của chúng tôi</h2>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit </p>
                        <a class="read_more" href="#">Tìm hiểu thêm</a>
                    </div>
                </div>
            </div>
        </div>
        <div id="about" class="about">
            <div class="container-fluid">
                <div class="row d_flex">
                    <div class="col-md-6">
                        <div class="about_text">
                            <div class="titlepage">
                                <h2>Thông tin thêm về khách sạn</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="about_img">
                            <figure><img src="~/images/about_img.jpg" alt="#" class="img-fluid"/></figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



