<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - Quản Lý Khách Sạn</title>
    <link rel="Stylesheet" href="/Content/css/bootstrap.css" />
    <link rel="Stylesheet" href="/Content/css/styleHome.css" />
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/responsive.css">
    <link rel="stylesheet" href="/static/css/jquery.mCustomScrollbar.min.css">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
</head>
<body>
    @Html.Partial("_Header")
    @RenderBody()
    @Html.Partial("_Footer")
    <script src="/staticjs/jquery.min.js"></script>
    <script src="/staticjs/popper.min.js"></script>
    <script src="/staticjs/bootstrap.bundle.min.js"></script>
    <script src="/staticjs/jquery-3.0.0.min.js"></script>
    <script src="/staticjs/plugin.js"></script>
    <!-- sidebar -->
    <script src="/staticjs/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="/staticjs/custom.js"></script>
    <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
</body>
</html>

