<div class="wrap header_slide">
    <div class="header_bottom_left">
        <div class="danh-muc">
            <h3>Danh Mục</h3>
            <ul class="danh-muc-lst">
                <li><a href="/CaNhan/CaNhan"><center>Thông Tin Cá Nhân</center></a></li>
                <li><a href="/CaNhan/LichSu"><center>Lịch Sử Đặt Phòng</center></a></li>
            </ul>
        </div>
    </div>
</div>